<div class="container">
  <div class="row">
    <div class="col">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/8b4adaace948fe23.jpg?q=60" alt="">
      <div>Grocery</div>
    </div>
    <div class="col">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/8b4adaace948fe23.jpg?q=60" alt="">
      <div>Mobiles</div>
    </div>
    <div class="col">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/8b4adaace948fe23.jpg?q=60" alt="">
      <div>beauty</div>
    </div>
    <div class="col">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/8b4adaace948fe23.jpg?q=60" alt="">
      <div>Appliances</div>
    </div>
    <div class="col">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/8b4adaace948fe23.jpg?q=60" alt="">
      <div>Furniture</div>
    </div>
    <div class="col">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/8b4adaace948fe23.jpg?q=60" alt="">
      <div>Sports</div>
    </div>
    <div class="col">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/8b4adaace948fe23.jpg?q=60" alt="">
      <div>Travel</div>
    </div>
    <div class="col">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/8b4adaace948fe23.jpg?q=60" alt="">
      <div>Electronics</div>
    </div>
    <div class="col">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/8b4adaace948fe23.jpg?q=60" alt="">
      <div>SuperCoin</div>
    </div>
  </div>
</div>
