<h3 class="text-center">Let's Learn Pipes</h3>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Uppercase, lowercase, titlecase pipe</div>
  <div>without any pipe, Name : {{myName}}</div>
  <div>with uppercase pipe, Name : {{myName | uppercase}}</div>
  <div>with lowercase pipe, Name : {{myName | lowercase}}</div>
  <div>with titlecase pipe, Name : {{myName | titlecase}}</div>
  <div><input [(ngModel)]="myName"></div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Currency Pipe:</div>
  <div>Salary: {{mySal}}</div>
  <div>Salary: {{mySal | currency}}</div>
  <div>Salary: {{mySal | currency : 'INR'}}</div>
  <!-- input | pipeName : 'arg-1'-->
  <div>Salary: {{mySal | currency : '&euro;'}}</div>
  <div>Salary: {{mySal | currency : '&#x5143;'}}</div>
  <div><input type="number" [(ngModel)]="mySal"></div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Date Pipe:</div>
  <div>{{dateObj}}</div>
  <div>{{dateObj | date }}</div>
  <div>{{ dateObj | date :'short'}}</div> <!-- Short Date + Short Time -->
  <div>{{ dateObj | date :'medium'}}</div> <!-- medium Date + medium Time -->
  <div>{{ dateObj | date :'long'}}</div> <!-- long Date + long Time -->
  <div>{{ dateObj | date :'full'}}</div> <!-- full Date + full Time -->
  ==================
  <div>{{ dateObj | date : 'shortDate' }}</div>
  <div>{{ dateObj | date : 'mediumDate' }}</div>
  <div>{{ dateObj | date : 'longDate' }}</div>
  <div>{{ dateObj | date : 'fullDate' }}</div>
  =================
  <div>{{ dateObj | date : 'shortTime' }}</div>
  <div>{{ dateObj | date : 'mediumTime' }}</div>
  <div>{{ dateObj | date : 'longTime' }}</div>
  <div>{{ dateObj | date : 'fullTime' }}</div>
  ==============
  <div>{{ dateObj | date : 'dd-MMM-yyyy' }}</div>
  <div>{{ dateObj | date : 'hh:mm:ss a' }}</div>
  <div>{{ dateObj | date: "fullTime":"UTC" }}</div>
  <div>{{ dateObj | date: "fullTime":"IST" }}</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Number & percent Pipe: </div>
  <div>{{ 12.111222333 | number: "3.2-5" }}</div>
  <div>{{ 12.1 | number: "3.2-5" }}</div>
  <div>{{ 0.5 | number:'3.2-5' }}</div>

  <div>{{ 0.05 | percent}} </div>
  <div>{{ 0.5 | percent}} </div>
  <div>{{ 0.75 | percent}} </div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>json pipe:</div>
  <div>{{user}}</div>
  <div>{{user | json}}</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>keyvalue pipe:</div>
  @for(entry of user | keyvalue;track $index){
  <h5>{{entry.key}}---{{entry.value}}</h5>
  }
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Slice pipe:</div>
  <div>{{arr}}</div>
  <div>{{arr | slice : 2 : 4}}</div>
  <div>{{'Angular is a Framework' | slice : 0 : 7}}</div>
  <div>{{'Angular is a Framework' | slice : 0 : -4}}</div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Custom Pipe(remaining):</div>
  <textarea [(ngModel)]='msg' maxlength="100"></textarea>
  <div>Remaining:{{msg | remaining}}</div>
</div>


<div class="border border-2 rounded-2 p-2 m-2">
  <div>Pure & Impure Pipe:</div>
  @for (item of numArr | mySort; track $index) {
    <b>{{item}}, &nbsp;</b>
  }
  <div>
    <input type="number" #newNum>
    <button class="btn btn-primary mx-2" (click)="numArr.push(+newNum.value)">Add</button>
  </div>
</div>
