<h3 class="text-center">User List</h3>

<div class="container">
  <div class="row">
    @for (user of users(); track $index) {
    <div class="col-sm-3 card">
      <img src="https://imgproxy.attic.sh/insecure/f:webp/q:90/w:1920/plain/https://attic.sh/5euu0abzcpy41b5oizfjgho6kem2" class="card-img-top" alt="..." height="200px">
      <div class="card-body text-center">
        <h5 class="card-title">{{user.username}}</h5>
        <h5 class="card-text">{{user.name}}</h5>
        <p class="card-text text-truncate">{{user.email}}</p>
        <p class="card-text text-truncate">{{user.phone}}</p>
        <p class="card-text">{{user.address.city}}</p>
      </div>
    </div>
    }
  </div>
</div>
