<div class="body container">
  <!-- This is Body -->
  <!-- <app-data-binding></app-data-binding> -->
  <!-- <app-directives-demo></app-directives-demo> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->
  <!-- <app-parent-demo></app-parent-demo> -->
  <!-- @if(flag){
    <app-demo1></app-demo1>
  }@else {
    <app-demo2></app-demo2>
  }
  <button (click)="flag=!flag">Toggle Flag</button> -->
  <!-- <app-http-demo1></app-http-demo1> -->
  <app-comment-list></app-comment-list>
  <!-- <app-employee-list></app-employee-list> -->
</div>
